.heading-icon , .video-icons , .call-to-action-area{
    background-color: #5f99be;
}

.themeix-purchase-btn-3 :hover {
    color: beige;
}

.bg-blue{
    background-color: #5f99be;
}

.cl-blue{
    color: #5f99be;
}